* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  border: 1px solid black;
  border-radius: 8px;
  width: max-content;
  display: grid;
  place-items: center;
  padding: 40px;
  margin: 4rem auto;
}

input {
  width: 240px;
  height: 30px;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

.login-link {
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.registration-message {
  font-size: 1.5rem;
  text-align: center;
}
